.weui-btn_primary {
  background-color: #2BA6E1 !important;
}

.weui-btn {
  box-shadow: 1px 1px 1px #888888;
}


.vux-header-title{
  font-weight: 100 !important;

}
.vux-header{
  background-color: #2BA6E1 !important;

}
.vux-header-back{
  font-weight: 100 !important;
  font-size:18px !important;
  color: white !important;
}
.vux-header .vux-header-left .left-arrow{
  color: white !important;
}
.vux-header .vux-header-left .left-arrow:before {
  border: 1px solid white !important;
  border-width: 1px 0 0 1px !important;
  width: 18px !important;
  height: 18px !important;
  top: 5px !important;
  left: 2px !important;
}
